.customTable {
    position: absolute;
    left: 8%;
    margin-top: 100px;
    border-collapse: collapse;
}
.customThead th {
    padding: 24px;
    background-color: #e9e5e57c;
    width: 122px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

.customBody td {
    padding: 15px;
    background-color: #ffffffaf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.customTr {
    border-bottom: 1pt solid #c2baba9a;
}